<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>

    <div class="container-fluid">

    <div>

      <p class="upperRight">User Name</p>
      <p class="upperRight">user@company.com</p>

      <h1 class="launchPlanTitle"><%= title %></h1>

      <div class="row">
        <div class="timeline_header">
          <section>
            <div>ZenLeap</div>
            TIMELINE
          </section>
          <button class="score">8.4</button>
        </div>

          <ul class="timeline" id="timeline">
             <% for (thing in collection) { %>
                 <li class="li complete">
                   <div class="statusi">
                     <p class="inner_status"><%= collection[thing].status %></p>
                   </div>
                   <div class="timestampi">
                     <span class="date"> <%= collection[thing].date %> <span>
                   </div>
                 </li>
             <% } %>
           </ul>
        <div class="timeline_footer">Marketing</div>
      </div>

      <div class="row upcomingTaskTableRow">
          <div class="upcomingTaskTableDiv">
            <table class="upcomingTaskTable">

              <tr class="upcomingTaskTableHeader">
                <td class="upcomingTaskCell">
                  <p class="upcomingTasksP head">Upcoming Tasks</p>
                  <img class="downArrowIcon" src="images/downArrow.png" alt="Down Arrow">
                  <span>Next 7 Days</span>
                </td>
              </tr>

              <tr class="upcomingTaskTableContentHeader">
                <td class="upcomingTaskCellHeader">Marketing</td>
              </tr>

              <tr class="upcomingTaskTableContent">
                  <td class="upcomingTaskCell">
                    <div class="upcomingTaskCircleGreen"></div>
                    <p>Define Launch Team</p>
                  </td>
              </tr>

              <tr class="upcomingTaskTableContent">
                <td class="upcomingTaskCellBlank"></td>
              </tr>

              <tr class="upcomingTaskTableContentHeader">
                <td class="upcomingTaskCellHeader">Product</td>
              </tr>

              <tr class="upcomingTaskTableContent">
                <td class="upcomingTaskCell">
                  <div class="upcomingTaskCircleGreen"></div>
                  <p>Wireframes</p>
                </td>
              </tr>

              <tr class="upcomingTaskTableContent">
                <td class="upcomingTaskCell">
                  <div class="upcomingTaskCircleYellow"></div>
                  <p>Creative</p>
                </td>
              </tr>

              <tr class="upcomingTaskTableContent">
                <td class="upcomingTaskCell">
                  <div class="upcomingTaskCircleRed"></div>
                  <p>POC</p>
                </td>
              </tr>

            </table>
          </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  </body>
</html>
