<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>

    <div class="container-fluid">

    <div>

      <p class="upperRight">User Name</p>
      <p class="upperRight">user@company.com</p>

      <h1 class="launchPlanTitle"><%= title %></h1>

      <div class="row">
        <div class="col">

        <div class="timeline_header">
          <section>
            <div>ZenLeap</div>
            TIMELINE
          </section>

          <button class="score">8.4</button>
        </div>
         <% let zoom = "something" %>
          <ul class="timeline" id="timeline">
             <% for (thing in collection) { %>
               <%
                 let thedate = collection[thing].date;
                 let themonth = thedate.getMonth();
                 let theday = thedate.getDate();
                 let theyear = thedate.getFullYear();
               %>

                 <li class="li complete">
                   <div class="statusi">
                     <p class="inner_status"><%= collection[thing].task %></p>
                   </div>
                   <div class="timestampi">
                     <span class="date"> <%= `${themonth+1}/${theday}/${theyear} ` %> <span>
                   </div>
                 </li>
             <% } %>
           </ul>

         <div class="timeline_footer">Marketing</div>

        </div>
      </div>

      <div class="row upcomingTaskTableRow">
        <div class="col col-md-3">
          <div class="upcomingTaskTableDiv">
            <table class="upcomingTaskTable">
              <tr class="upcomingTaskTableHeader">
                <td class="upcomingTaskCell">
                  <p class="upcomingTasksP head">Upcoming Tasks</p>
                  <img class="downArrowIcon" src="images/downArrow.png" alt="Down Arrow">
                  <span>Next 7 Days</span>
                </td>
              </tr>

              <tr class="upcomingTaskTableContentHeader">
                <td class="upcomingTaskCellHeader">Marketing</td>
              </tr>

              <tr class="upcomingTaskTableContent">
                  <td class="upcomingTaskCell">
                    <div class="upcomingTaskCircleGreen"></div>
                    <p>Define Launch Team</p>
                  </td>
              </tr>

              <tr class="upcomingTaskTableContent">
                <td class="upcomingTaskCellBlank"></td>
              </tr>

              <tr class="upcomingTaskTableContentHeader">
                <td class="upcomingTaskCellHeader">Product</td>
              </tr>

              <tr class="upcomingTaskTableContent">
                <td class="upcomingTaskCell">
                  <div class="upcomingTaskCircleGreen"></div>
                  <p>Wireframes</p>
                </td>
              </tr>

              <tr class="upcomingTaskTableContent">
                <td class="upcomingTaskCell">
                  <div class="upcomingTaskCircleYellow"></div>
                  <p>Creative</p>
                </td>
              </tr>

              <tr class="upcomingTaskTableContent">
                <td class="upcomingTaskCell">
                  <div class="upcomingTaskCircleRed"></div>
                  <p>POC</p>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="col col-md-6">
          <div class="row">
            <div class="col-md-12 projectPlans">
                <div class="projectPlansHeader">
                   Project Plans
                   <button class="addProjectPlusBtn" type="button" name="button">
                     <img class="plusIcon_v2" src="images/plusIcon_v2.png" alt="Plus sign">
                   </button>
                </div>
                <div class="projectPlansBody"><br>
                  <div class="progressHeaderText">
                    25 Marketing
                  </div><br>
                  <div class="progress 1">
                    <div class="progress-bar progressGreen" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">20</div>
                    <div class="progress-bar progressYellow" role="progressbar" style="width: 12%" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100">3</div>
                    <div class="progress-bar progressRed" role="progressbar" style="width: 8%" aria-valuenow="8" aria-valuemin="0" aria-valuemax="100">2</div>
                  </div><br>

                  <div class="progressHeaderText">
                    23 Product &amp; Engineering
                  </div><br>
                  <div class="progress 2">
                    <div class="progress-bar progressGreen" role="progressbar" style="width: 65.217%" aria-valuenow="65.217" aria-valuemin="0" aria-valuemax="100">15</div>
                    <div class="progress-bar progressYellow" role="progressbar" style="width: 13.043%" aria-valuenow="13.043" aria-valuemin="0" aria-valuemax="100">3</div>
                    <div class="progress-bar progressRed" role="progressbar" style="width: 21.739%" aria-valuenow="21.739" aria-valuemin="0" aria-valuemax="100">8</div>
                  </div><br>

                  <div class="progressHeaderText">
                    13 Operations
                  </div><br>
                  <div class="progress 3">
                    <div class="progress-bar progressGreen" role="progressbar" style="width: 76.923%" aria-valuenow="76.923" aria-valuemin="0" aria-valuemax="100">10</div>
                    <div class="progress-bar progressYellow" role="progressbar" style="width: 15.385%" aria-valuenow="15.385" aria-valuemin="0" aria-valuemax="100">2</div>
                    <div class="progress-bar progressRed" role="progressbar" style="width: 7.692%" aria-valuenow="7.692" aria-valuemin="0" aria-valuemax="100">1</div>
                  </div><br>
                </div>
                <div class="projectPlansFooter">
                  <div class="projectPlansCircleGreen"></div>
                  <div class="projectPlansFooterText">
                    OK
                  </div>
                  <div class="projectPlansCircleYellow"></div>
                  <div class="projectPlansFooterText">
                    Warning
                  </div>
                  <div class="projectPlansCircleRed"></div>
                  <div class="projectPlansFooterText">
                    Critical
                  </div>
                </div>
           </div>
          </div>
        </div>

        <div class="col col-md-3 launchAndRisksTables">
          <div class="launchTeamTableDiv">
            <table class="launchTeamTable">
              <tr class="launchTeamTableHeader">
                <td class="launchTeamTableCell">
                  <p class="launchTeamTableP head">Launch Team</p>
                </td>
              </tr>

              <tr class-"launchTeamTableContent">
                <td class="launchTeamTableCell">
                  <p>Executive Sponsor: Ted Johnson</p>
                </td>
              </tr>

              <tr class-"launchTeamTableContent">
                <td class="launchTeamTableCell">
                  <p>Product Owner: Bill Clark</p>
                </td>
              </tr>

              <tr class-"launchTeamTableContent">
                <td class="launchTeamTableCell">
                  <p>Marketing: Sly Malone</p>
                </td>
              </tr>

              <tr class-"launchTeamTableContent">
                <td class="launchTeamTableCell">
                  <p>Ops: Ryan Taylor</p>
                </td>
              </tr>

              <tr class-"launchTeamTableContent">
                <td class="launchTeamTableCell">
                  <p>Engineering: Joe Sills</p>
                </td>
              </tr>
            </table>

            <table class="launchTeamTable">

              <tr class="launchTeamTableContent">
                <td class="launchTeamTableCellBlank"></td>
              </tr>

              <tr class="launchTeamTableHeader">
                <td class="launchTeamTableCell">
                  <p class="launchTeamTableP head">Risks</p>
                </td>
              </tr>

              <tr class-"launchTeamTableContentHeader">
                <td class="launchTeamTableCellHeader">
                  <p>Marketing</p>
                </td>
              </tr>

              <tr class-"launchTeamTableContent">
                <td class="launchTeamTableCell">
                  <p>Risk 1</p>
                </td>
              </tr>

              <tr class="launchTeamTableContent">
                <td class="launchTeamTableCellBlank"></td>
              </tr>

              <tr class-"launchTeamTableContentHeader">
                <td class="launchTeamTableCellHeader">
                  <p>Product</p>
                </td>
              </tr>

              <tr class-"launchTeamTableContent">
                <td class="launchTeamTableCell">
                  <p>Risk 1</p>
                </td>
              </tr>

              <tr class-"launchTeamTableContent">
                <td class="launchTeamTableCell">
                  <p>Risk 2</p>
                </td>
              </tr>

              <tr class-"launchTeamTableContent">
                <td class="launchTeamTableCell">
                  <p>Risk 3</p>
                </td>
              </tr>
            </table>

          </div>
        </div>

      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  </body>
</html>
