<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <p class="upperRight">User Name</p>
    <p class="upperRight">user@company.com</p>

    <h1><%= title %></h1>

    <button class="fbBtn" type="button" name="button">
      <div class="fbBtnDiv">
        <img class-"fbLogo" src="images/fbLogo.png" alt="Facebook logo" width="20" height="30">
      </div>
      <span class="fbBtnSpan">Continue with Facebook</span>
    </button>

    <h3 class="lines"><span>Or</span></h3>

    <p>Log in with your email and password</p>

    <form class="loginForm" action="index.html" method="post">
      <div class="align">
        <label class="emailLabel" for="email">Email</label>
        <input class="emailEntry" type="text" name="email">
      </div>
      <div class="align">
        <label class="pwLabel" for="password">Password</label>
        <input class="pwEntry" type="password" name="password">
      </div>
    </form>

    <p>
      <a href="/users">
        <button class="loginBtn" type="button" name="button">
          Continue
        </button>
      </a>
    </p>

    <a href="#">Terms and Conditions</a>

  </body>
</html>
