body {
  padding: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #6A6A6A;
  color: white;
  text-align: center;
}

/*html,body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: #758D96;
}*/

.upperRight {
  text-align: right;
  margin: auto;
  position: relative;
  top: -20px;
}

.fbBtn {
  background-color: #3B5998;
  color: white;
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 25px;
  width: 40%;
  border: none;
}

.fbBtnDiv {
  float: left;
}

.fbBtnSpan {
  position: relative;
  top: 6px;
  text-align: center;
}

.lines {
  line-height: 0.5;
  text-align: center;
  margin-bottom: 30px;
}

.lines span {
  display: inline-block;
  position: relative;
}

.lines span:before,
.lines span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  top: 0;
  width: 285px;
}

.lines span:before {
  right: 100%;
  margin-right: 15px;
}

.lines span:after {
  left: 100%;
  margin-left: 15px;
}

.align {
  display: inline-block;
  margin: 15px 50px;
}

.align label {
  float: left;
}

.emailEntry {
  width: 100%;
  padding: 12px 40px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid white;
  background-color: dimGrey;
  color: white;
}

.pwEntry {
  width: 100%;
  padding: 12px 40px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid white;
  background-color: dimGrey;
  color: white;
}

.loginBtn {
  background-color: red;
  color: white;
  margin: 20px 0 0 0;
  font-size: 15px;
  border: none;
  width: 7%;
  border-radius: 5px;
}

a {
  color: white;
}

.companyName {
  position: relative;
  top: -95px;
  text-align: center;
  font-size: 48px;
  font-weight: normal;
}

.hrTop {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    position: relative;
    top: -80px;
    padding: 0;
}

.plusBtn {
  background-color: #6A6A6A;
  border: none;
  position: absolute;
  right: 115px;
  top: 155px;
}

.plusIcon {
  height: 40px;
  width: 40px;
}

.launchBtn {
  width: 230px;
  height: 50px;
  margin: 25px;
  border: 1px solid black;
  font-size: 14px;
  border-radius: 5px;
  position: relative;
  top: -40px;
}

.launch1 {
  background-color: #7EA6E0;
}

.launch2 {
  background-color: #67AB9F;
}

.launch3 {
  background-color: #FFD966;
}

.launch4 {
  background-color: #FFB570;
}

.hrBottom {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin-top: 200px;
    margin-bottom: -10px;
    padding: 0;
}

.userHeading {
  position: relative;
  left: -650px;
  font-size: 36px;
  margin-bottom: 0;
}

.userTableDiv {
  float: left;
  position: absolute;
  width: 45%;
  left: 140px;
}

.userTable {
  table-layout: fixed;
  width: 1000px;
  border: 1px solid black;
}

.tableHeader {
  background-color: #999999;
  color: black;
}

.tableContent {
  background-color: white;
  color: black;
}

.roleTableDiv {
  position: absolute;
  right: 125px;
}

.roleTable {
  table-layout: fixed;
  width: 150px;
  border: 1px solid black;
}

.launchPlanTitle {
  position: relative;
  top: -95px;
  text-align: left;
  font-size: 38px;
  font-weight: normal;
  padding-top: 90px;
}

/*Timeline styling begins*/

.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;/*background*/
  color: black;/*all text*/
  height: 175px;
  margin-bottom: 20px;
  position: relative;
  top: -75px;
  width: 100%;}

.li {
  transition: all 200ms ease-in;
}

.timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.status {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid black;/*line Sept & fwd*/
  position: relative;
  transition: all 200ms ease-in;
}
.status h4 {
  font-weight: 600;
}
.status:before {
  content: '';
  width: 25px;
  height: 25px;
  background-color: white;/*background of circles Sept & fwd*/
  border-radius: 25px;
  border: 1px solid black;/*border of circles Sept & fwd*/
  position: absolute;
  top: -15px;
  left: 42%;
  transition: all 200ms ease-in;
}

.li.complete .status {
  border-top: 2px solid black;/*line Jun-Aug*/
}
.li.complete .status:before {
  background-color: white;/*background of circles Jun-Aug*/
  border: 1px solid black;/*border of circles Jun-Aug*/
  transition: all 200ms ease-in;
}
.li.complete .status h4 {
  color: black;
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
    display: block;
  }

  .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }

  .timestamp {
    width: 100px;
  }

  .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }
}

/*Timeline styling ends*/

.upcomingTaskTable {
  table-layout: fixed;
  width: 215px;
  background-color: #545454;
}

.upcomingTaskTableHeader {
  background-color: #7D7D7D;
}

.upcomingTaskTableHeader p {
  background-color: #7D7D7D;
  font-size: 20px;
  float: left;
  margin-bottom: 0;
  margin-left: 4px;
  margin-top: 5px;
}

.upcomingTaskCell {
  border: 1px solid black;
}

.upcomingTaskCell span {
  margin-left: 0;
  font-size: 12px;
}

.downArrowIcon {
  height: 18px;
  width: 18px;
  margin-left: 110px;
}
